﻿/* TAB MENU   
----------------------------------------------------------*/

#sdk-menu.hideSkiplink
{
    background-color: transparent;
    width:100%;
    z-index: 6;
}

#sdk-menu
{
    padding: 4px 0px 0px 8px;
    border-bottom: 1px dotted #999;
}

#sdk-menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

#sdk-menu ul li a, #sdk-menu ul li a:visited
{
    background-color: #999;
    border: 0;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px !important;
    text-decoration: none;
    white-space: nowrap;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 1px;
}

#sdk-menu ul li a:hover
{
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

#sdk-menu ul li a:active
{
    background-color: #999;
    color: #cfdbe6;
    text-decoration: none;
}

#MainContent_NavigationMenu a.static.selected
{
    border: 1px #999 solid;
    border-bottom: 1px White solid !important;
}

.sdk-tool-wrap 
{
    border-top: 1px solid #999;
    width: 100%;
    z-index: 5;
    margin-top: -1px;
    padding-top: 10px;
}

.source-code {
    background-color:#EFEFFF;
    color:#000000;
    font-family: Courier New;
    font-size:9pt;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding:5pt;
    white-space:pre;
    width:98.5%;
}

.details-view tbody tr td, .grid-view tbody tr td {
    white-space: pre-wrap;
}

input + label {
    padding-left: 8px !important;
}

.sdk-table tbody tr td {
    padding: 4px;
}

.sdk-table tbody tr td input[type="text"] {
    max-width: 800px !important;
    width: 800px;
}