﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 600px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

#TopMenu {
    margin-left: -25px !important;
}

#TopMenu a.static {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
}

#TopMenu a.static:first-child {
    padding-left: 0 !important;
}

#TopMenu a.static.selected {
    color: white !important;
}

.login-block {
    display: block;
    padding: 15px;
    line-height: 20px;
    float: right;
    text-decoration: none;
}

.nav-dynamic {
    background-color: #222222;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

li a.dynamic {
    padding: 8px 10px;
    color: #999999;
}

li a.dynamic:hover {
    color: white;
}

pre {
    white-space: pre-line;
}

pre.red {
    border-color: #b90808;
    background-color: #fcc0c0;
}

pre.blue {
    border-color: #0026ff;
    background-color: #c9cbf7
}

/* For Q&A Multi-Comments */
.categories {
    float: right;
    padding-top: 8px;
}

.search-box {
    max-width: 800px !important;
    width: 100%;
    font-size: 1.5em;
    background-color: #cecbcb;
}

.user-avatar {
    border: 0 none;
    border-radius: 50%;
}

.question-title {
    width: 100%;
    font-size: 1.5em;
    color: navy;
    font-weight: bold;
    padding-bottom: 10px;
}

.question-table {
    width: auto;
}

.question-box {
    max-width: 800px !important;
    width: 100%;
}

.question-avatar, .answer-avatar {
    float: left;
    font-size: 0.8em;
    width: 120px;
    height: 100px;
}

.answer-avatar {
    text-align: right;
}

.bubble, .bubble-answer
{
    position: relative;
    width: 350px;
    height: 100px;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: #7F7F7F solid 3px;
    float: left;
}

.bubble-answer {
    margin-left: 10px;
    border: #046237 solid 3px !important;
    background-color: #c4f2d3;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 15px 6px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -6px;
    left: -14px;
    top: 22%;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 17px 8px 0;
    border-color: transparent #7F7F7F;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -8px;
    left: -20px;
    top: 22%;
}

.bubble-answer:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 0 6px 15px;
    border-color: transparent #c4f2d3;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -6px;
    right: -15px;
    top: 75%;
}

.bubble-answer:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 0 8px 17px;
    border-color: transparent #046237;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -8px;
    right: -20px;
    top: 75%;
}

.info-box {
    width: 180px;
    height: 100px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: #7F7F7F solid 2px;
    border-left: 0;
    text-align: right;
    float: right;
    padding: 10px;
    font-size: 0.8em;
}

#search-box {
    -moz-appearance: none;
    background: url("/Content/Images/search.png") no-repeat scroll 15px 15px #fff;
    border: 1px solid #7F7F7F;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font: 13px/1.6 'open sans',sans-serif;
    margin: 0;
    max-width: 100% !important;
    outline: 0 none;
    padding: 12px 12px 12px 40px;
    width: 100%;
}

.ui-autocomplete {
    width: 1170px !important;
}

.ui-widget {
    font-family: inherit !important;
    font-size: inherit !important;
}

.ui-menu-item {
    display: inline-block !important;
    width: 100% !important;
    border-bottom: 1px dotted Black;
}

.qa-item:hover {
    background-color: yellow;
    transition: all 150ms ease-in-out 0s;
}

.tags {
    clear: both;
    float: left;
    margin-top: 10px;
}

.tags-list {
    clear: both;
    list-style: none outside none;
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.tag {
    background-color: #cfd6d9;
    border: 0 none;
    border-radius: 5px;
    float: left;
    margin: 0 5px 5px 0;
    max-width: 96%;
    padding-bottom: 3px;
    padding-top: 3px;
    position: relative;
    transition: all 150ms ease-in-out 0s;
}

.tag > a {
    color: #212124;
    display: block;
    font-weight: 400;
    line-height: 21px;
    overflow: hidden;
    padding: 0 10px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tag:hover {
    background-color: #222222;
    border: 0 none;
    border-radius: 5px;
}

.tag:hover > a {
    color: #fff;
}

.comment-tags {
    float: left;
    width: 100%;
}

.comment-tags input {
    max-width: 100% !important;
    width: 80% !important;
}